[Unit]
Description=tegola pdm

[Service]
ExecStart=/home/osm/go/bin/tegola serve --config /opt/oim-styles/tegola_pdm/config.toml
WorkingDirectory=/home/osm/go/bin/
Restart=always

[Install]
WantedBy=multi-user.target

